/node_modules
/vendor
/.idea
.idea/
/.vs/DATN-ver2/FileContentIndex/dc7673f8-3c00-4b5c-85c8-23899fb3b134.vsidx
/.vs/DATN-ver2/FileContentIndex/e9916434-c43b-4f66-bcc4-282f2b80febe.vsidx
/.vs/DATN-ver2/FileContentIndex/6e4a711c-66bb-43d8-b0e2-e86c42adf89b.vsidx
/.vs/DATN-ver2/FileContentIndex/d42cde0d-7913-4a16-9cd6-befe3db9698f.vsidx
/.vs/DATN-ver2/FileContentIndex/d111e9fd-30b2-43bc-9448-3aff651588ab.vsidx
/.vs/DATN-ver2/FileContentIndex/779d722e-85a2-40f1-baa0-18e87f7940b8.vsidx
/.vs/DATN-ver2/FileContentIndex/ea78c344-1cbc-4564-8e22-fa7b2df3d170.vsidx
/.vs/DATN-ver2/FileContentIndex/6f81c767-ee72-4650-aa26-a94897775273.vsidx
/.vs/DATN-ver2/FileContentIndex/e62c958e-5467-4fa9-80b3-023c387d33b4.vsidx
*.vsidx
/.vs/DATN-ver2/v17/DocumentLayout.json
/.vs/DATN-ver2/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
